<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEU site</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@600&family=Nunito+Sans:wght@200&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="#">COMAFE</a>
            <ul>
                <li><a href="#sobre"></a>Sobre</li>
                <li><a href="#Serviços"></a>Serviços</li>
                <li><a href="#fotos"></a>fotos</li>
                <li><a href="#Contato"></a>Contato</li>
            </ul>
    </nav>

        <header id="topo">
            <h1>Comercio Atacadista de Ferragens</h1>
            <p>Um site é uma ferramenta digital extremamente importante para empresas, organizações e indivíduos que buscam se comunicar e se relacionar com seu público-alvo através da internet. Por meio dele, é possível apresentar informações relevantes, produtos e serviços, além de oferecer conteúdos relevantes que podem atrair e fidelizar visitantes.</p>
            <a href="#serviços" class="botao">Ver mais</a>

        </header>
        
        <section id="sobre">
            <h2>Sobre</h2>
            <p>Uma empresa de ferragens é responsável por fornecer materiais e equipamentos para construção civil, manutenção industrial e serviços de reparos em geral. Seus clientes incluem construtoras, empreiteiras, indústrias, prestadores de serviços e consumidores finais.

            Essas empresas oferecem uma ampla variedade de produtos, como ferramentas manuais e elétricas, equipamentos de proteção individual, materiais para construção civil, parafusos, porcas, rebites, pregos, tintas, materiais hidráulicos, entre outros. Além disso, elas podem fornecer serviços especializados, como afiação de ferramentas e manutenção de equipamentos.
                
            Para se destacar no mercado, uma empresa de ferragens deve oferecer produtos de qualidade, preços competitivos e um atendimento eficiente. É importante manter um estoque diversificado, capaz de atender às necessidades dos clientes em diferentes segmentos.</p>
            <a href="#contato" class="botao">Entre em contato agora</a>
            
        </section>

        <section class="fototeca" id="#serviços">
            <h2>Serviços</h2>
            <div class="fototeca">

                <img src="img/caminhao-de-entrega.png" alt="Entrega">
                <h3>Entrega</h3>


            </div>

            <div class="fototeca">

                <img src="img/mao.png" alt="Venda">
                <h3>Venda</h3>


            </div>

            <div class="fototeca">

                <img src="img/caixa.png" alt="Embalagem">
                <h3>Embalagem</h3>


            </div>
        </section>

        <section id="fotos">
            <h2>fotos</h2>
            <img src="img/pexels-jorge-urosa-9131071.jpg" alt="parafuso1">
            <img src="img/foto1.jpg" alt="parafuso2">
            <img src="img/pexels-pixabay-289665.jpg" alt="parafuso3">
            <img src="img/pexels-polina-tankilevitch-5583078.jpg" alt="parafuso4">
            <img src="img/pexels-polina-tankilevitch-5583069.jpg" alt="parafuso5">
            <img src="img/pexels-polina-tankilevitch-5583094.jpg" alt="parafuso6">

        </section>

        <section id="contato">
            <h2>Contato</h2>
            <p>Entre em contato com a gente</p>
            <div>
                <img src="img/chamada-telefonica.png" alt="telefone">
                <p><a href="tel: 49988474631"> (48) 98837-4631</a></p>
            </div>
            
            <div>
                <img src="img/o-email.png" alt="email">
                <p><a href="mailto: victorapereira444013@gmail.com">victorapereira444013@gmail.com</a></p>
            </div>

            <footer>
                <a href="#topo">VOLTAR</a>
                <p>DESENVOLVIDO PELO MELHOR
                DESENVOLVEDOR, EU
                </p>
            </footer>

        </section>





    </body>
</html>